<div class="container">
  <div class="details">
    <div class="basic-details">
      <div class="title">
        {{ book.title | english | capitalize }}
      </div>
      <div class="author">
        {{ book.author | english | capitalize }}
      </div>
    </div>
    <div class="published-date">
      {{ book.publishedDate | date: 'dd/MM/yyyy' }}
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="btns">
    <button mat-icon-button
            (click)="onEdit(book)"
            matTooltip="{{ editTitle }}"
            matTooltipPosition="below">
            <mat-icon>edit</mat-icon>
    </button>
    
    <button mat-icon-button
            (click)="onDelete(book)"
            matTooltip="{{ deleteTitle }}"
            matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>