.book {
  position: relative;
  padding: 0.5rem;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.book-content {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.book:hover,
.book:active {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.book-content .front,
.book-content .back {
  height: 100%;
  width: 100%;
  background: white;
  color: #03446a;
  text-align: center;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.book-content .front {
  min-height: 14rem;
}

.book-content .back {
  position: absolute;
  top: 0;
  background: #c4ccd0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  text-align: left;
  padding: 0.6rem;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3a3a3a;
}

.book-content .book-icon {
  width: 100%;
  min-height: 14rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
}

.book-icon p {
  font-size: 1.2rem;
  font-weight: 400;
}

.book-content .img-fluid {
  border-radius: inherit;
  max-height: 100%;
}

.book-content .info {
  margin: 0.6rem 0.3rem;
  overflow: hidden;
}

.book-content .info p {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.book-content .info p:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.book .btns {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
}

.book:hover .btns {
  visibility: visible;
}

.book .field {
  margin-bottom: 0.3rem;
}

.field .label {
  font-size: 0.7rem;
  font-weight: bold;
}

.info .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #181818;
  white-space: nowrap;
}

.book:hover .title {
  -webkit-animation: move 10s linear;
  animation: move 10s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes move {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -250%;
  }
}

@keyframes move {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -250%;
  }
}

@media screen and (min-width: 768px) {
  .book-content .front,
  .book-content .book-icon {
    min-height: 11.5rem;
  }
}

@media screen and (min-width: 992px) {
  .book-content .front,
  .book-content .book-icon {
    min-height: 17rem;
  }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
  .book-content .front,
  .book-content .book-icon {
    min-height: 17rem;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .book-content .front,
  .book-content .book-icon {
    min-height: 12.5rem;
  }
}
